<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <title>Register</title>
        <script>
            function validatePasswords() {
                const password = document.getElementById("password").value;
                const confirmPassword = document.getElementById("confirmPassword").value;
                if (password !== confirmPassword) {
                    alert("Passwords do not match!");
                    return false;
                }
                return true;
            }
        </script>
    </head>
</head>
<body>
<h2>Register New User</h2>
<form th:action="@{/addUser}" th:object="${user}" method="post" onsubmit="return validatePasswords()">
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" th:field="*{firstname}" placeholder="Enter First Name" required><br><br>

    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" th:field="*{lastname}" placeholder="Enter Last Name"><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" placeholder="Enter Email" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" placeholder="Enter Password" required><br><br>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Enter Password" required><br><br>


    <label for="phone">Phone:</label>
    <input type="text" id="phone" th:field="*{phone}" placeholder="Enter Phone Number" required><br><br>

    <label for="address">Address:</label>
    <input type="text" id="address" th:field="*{address}" placeholder="Enter Address" required><br><br>

    <label for="role">Role:</label>
    <select id="role" th:field="*{role}" required>
        <option value="USER">User</option>
        <option value="ADMIN">Admin</option>
    </select><br><br>

    <button type="submit">Register</button>
</form>
<a href="/login">Already have an account? Login here</a>
</body>
</html>
