<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/adminPanelScript.js}" defer></script>
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <h2>Admin Panel</h2>
        <nav>
            <ul>
                <li><a href="#dashboard">Dashboard</a></li>
                <li><a href="#users">Manage Users</a></li>
                <li><a href="#products">Manage Products</a></li>
                <li><a href="#orders">Manage Orders</a></li>
                <li><a href="#reviews">View Reviews</a></li>
                <li><a href="#payments">View Payments</a></li>
                <li><a href="#shippings">View Suppliers</a></li>
                <li><a href="#categories">Manage Categories</a></li>
            </ul>
        </nav>
    </aside>
    <main class="main-content">
        <header>
            <h1>Dashboard</h1>
            <div class="user-info">
                <span id="user-name">Welcome, Admin</span>
                <button id="logout" onclick=logout()>Logout</button>
            </div>
        </header>
        <section id="dashboard" class="content-section">
            <h2>Overview</h2>
            <div class="cards">
                <div class="card">
                    <h3>Total Users</h3>
                    <p id="total-users">0</p>
                </div>
                <div class="card">
                    <h3>Total Products</h3>
                    <p id="total-products">0</p>
                </div>
                <div class="card">
                    <h3>Total Orders</h3>
                    <p id="total-orders">0</p>
                </div>
            </div>
        </section>
        <section id="users" class="content-section hidden">
            <h2>Manage Users</h2>
            <button class="add-button" onclick="addUser()">Add User</button>
            <!-- The Modal -->
            <div id="userModal" class="modal" style="display: none">
                <div class="modal-content">
                    <span class="close" onclick="closeModal() ">&times;</span>
                    <h2>Register New User</h2>
                    <form action="/api/admin/users" method="post" onsubmit="submitUserForm(event)">
                        <label for="firstname">First Name:</label>
                        <input type="text" id="firstname" name="firstname" placeholder="Enter First Name" required><br><br>

                        <label for="lastname">Last Name:</label>
                        <input type="text" id="lastname" name="lastname" placeholder="Enter Last Name"><br><br>

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Enter Email" required><br><br>

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Enter Password" required><br><br>

                        <label for="confirmPassword">Confirm Password:</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Enter Password" required><br><br>

                        <label for="phone">Phone:</label>
                        <input type="text" id="phone" name="phone" placeholder="Enter Phone Number" required><br><br>

                        <label for="address">Address:</label>
                        <input type="text" id="address" name="address" placeholder="Enter Address" required><br><br>

                        <label for="role">Role:</label>
                        <select id="role" name="role" required>
                            <option value="USER">User </option>
                            <option value="ADMIN">Admin</option>
                        </select><br><br>

                        <button type="submit">Register</button>
                    </form>
                </div>
            </div>

            <!--Edit Modal -->
            <div id="editUserModal" class="modal" style="display: none">
                <div class="modal-content">
                    <span class="close" onclick="closeEditUserModal()">&times;</span>
                    <h2>Edit User</h2>
                    <form id="editUserForm" onsubmit="submitEditUser (event)">
                        <input type="hidden" id="editUserId" name="id">
                        <label for="editFirstname">First Name:</label>
                        <input type="text" id="editFirstname" name="firstname" placeholder="Enter First Name" required><br><br>

                        <label for="editLastname">Last Name:</label>
                        <input type="text" id="editLastname" name="lastname" placeholder="Enter Last Name"><br><br>

                        <label for="editEmail">Email:</label>
                        <input type="email" id="editEmail" name="email" placeholder="Enter Email" required><br><br>

                        <label for="editPhone">Phone:</label>
                        <input type="text" id="editPhone" name="phone" placeholder="Enter Phone Number" required><br><br>

                        <label for="editAddress">Address:</label>
                        <input type="text" id="editAddress" name="address" placeholder="Enter Address" required><br><br>

                        <label for="editRole">Role:</label>
                        <select id="editRole" name="role" required>
                            <option value="USER">User </option>
                            <option value="ADMIN">Admin</option>
                        </select><br><br>

                        <button type="submit">Update</button>
                    </form>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="users-table-body">
                <!-- Dynamic User Rows will be inserted here -->
                </tbody>
            </table>
        </section>
        <section id="products" class="content-section hidden">
            <h2>Manage Products</h2>
            <button class="add-button" onclick="openProductModal()">Add Product</button>
            <div id="addProductModal" class="modal" style="display: none">
                <div class="modal-content">
                    <span class="close" onclick="closeProductModal()">&times;</span>
                    <h2>Add Product</h2>
                    <form id="addProductForm" onsubmit=" addProduct(event)">
                        <input type="hidden" id="addProductId" name="id">
                        <label for="addProductName">Product Name:</label>
                        <input type="text" id="addProductName" name="name" placeholder="Enter Product Name" required><br><br>

                        <label for="addPrice">Price:</label>
                        <input type="number" step="0.01" id="addPrice" name="price" placeholder="Enter Price" required><br><br>

                        <label for="addStockQuantity">Stock Quantity:</label>
                        <input type="number" id="addStockQuantity" name="stockQuantity" placeholder="Enter Stock Quantity" required><br><br>

                        <label for="addDescription">Category:</label>
                        <textarea id="addDescription" name="description" placeholder="Enter Description" ></textarea><br><br>

                        <label for="addCategory">Category:</label>
                        <select id="addCategory" name="category" required>

                        </select><br><br>

                        <button type="submit">Add Product</button>
                    </form>
                </div>
            </div>
            <div id="editProductModal" class="modal" style="display: none">
                <div class="modal-content">
                    <span class="close" onclick="closeEditProductModal()">&times;</span>
                    <h2>Edit User</h2>
                    <form id="editProductForm" onsubmit=" editProduct(event)">
                        <input type="hidden" id="editProductId" name="id">
                        <label for="editProductName">Product Name:</label>
                        <input type="text" id="editProductName" name="name" placeholder="Enter Product Name" required><br><br>

                        <label for="editPrice">Price:</label>
                        <input type="number" id="editPrice" name="price" placeholder="Enter Price" required><br><br>

                        <label for="editStockQuantity">Stock Quantity:</label>
                        <input type="number" id="editStockQuantity" name="stockQuantity" placeholder="Enter Stock Quantity" required><br><br>

                        <label for="editDescription">Category:</label>
                        <textarea id="editDescription" name="description" placeholder="Enter Description" ></textarea><br><br>

                        <label for="editProductCategory">Category:</label>
                        <select id="editProductCategory" name="category" required>
                            <option value="">Select a Category </option>

                        </select><br><br>

                        <button type="submit">Add Product</button>
                    </form>
                </div>
            </div>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Stock Quantity</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="products-table-body">
                <!-- Dynamic Product Rows will be inserted here -->
                </tbody>
            </table>
        </section>
        <section id="orders" class="content-section hidden">
            <h2>Manage Orders</h2>
            <table>
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>User ID</th>
                    <th>Shipping ID</th>
                    <th>Payment ID</th>
                    <th>Order Creation Time</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="orders-table-body">
                <!-- Dynamic Order Rows will be inserted here -->
                </tbody>
            </table>

            <!-- Popup for Product Details -->
            <div id="products-popup" class="popup hidden" style="display: none">
                <div class="popup-content">
                    <h3>Products in Order</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Stock Quantity</th>
                            <th>Category</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                        </tr>
                        </thead>
                        <tbody id="order-products-table-body">
                        <!-- Dynamic Product Rows will be inserted here -->
                        </tbody>
                    </table>
                    <button onclick="closeProductsPopup()">Close</button>
                </div>

            </div>

        </section>
        <section id="reviews" class="content-section hidden">
            <h2>View Reviews</h2>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Product ID</th>
                    <th>User ID</th>
                    <th>Rating</th>
                    <th>Review</th>
                    <th>Review Date</th>
                    <th>Approval Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="reviews-table-body">
                <!-- Dynamic Review Rows will be inserted here -->
                </tbody>
            </table>
        </section>
        <section id="payments" class="content-section hidden">
            <h2>View Payments</h2>
            <table>
                <thead>
                <tr>
                    <th>Payment ID</th>
                    <th>User</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody id="payments-table-body">
                <!-- Dynamic Payment Rows will be inserted here -->
                </tbody>
            </table>
        </section>
        <section id="shippings" class="content-section hidden">
            <h2>View Shipping</h2>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Postal Code</th>
                    <th>Shipping Date</th>

                </tr>
                </thead>
                <tbody id="shipping-table-body">
                <!-- Dynamic Shipping Rows will be inserted here -->
                </tbody>
            </table>
        </section>
        <section id="categories" class="content-section hidden">
            <h2>Manage Categories</h2>
            <button class="add-button" onclick="openAddCategoryModal()">Add Category</button>
            <div id="addCategoryModal" class="modal" style="display: none">
                <div class="modal-content">
                    <span class="close" onclick="closeAddCategoryModal()">&times;</span>
                    <h2>Add Category</h2>
                    <form id="addCategoryForm" onsubmit="addCategory(event)">
                        <input type="hidden" id="addCategoryId" name="id">

                        <label for="addCategoryName">Category Name:</label>
                        <input type="text" id="addCategoryName" name="name" placeholder="Enter Category Name" required><br><br>

                        <label for="addCategoryDescription">Description:</label>
                        <textarea id="addCategoryDescription" name="description" placeholder="Enter Category Description" required></textarea><br><br>

                        <button type="submit">Add Category</button>
                    </form>
                </div>
            </div>
            <div id="editCategoryModal" class="modal" style="display: none">
                <div class="modal-content">
                    <span class="close" onclick="closeEditCategoryModal()">&times;</span>
                    <h2>Edit Category</h2>
                    <form id="editCategoryForm" onsubmit="editCategory(event)">
                        <input type="hidden" id="editCategoryId" name="id">

                        <label for="editCategoryName">Category Name:</label>
                        <input type="text" id="editCategoryName" name="name" placeholder="Enter Category Name" required><br><br>

                        <label for="editCategoryDescription">Description:</label>
                        <textarea id="editCategoryDescription" name="description" placeholder="Enter Category Description" required></textarea><br><br>

                        <button type="submit">Save Changes</button>
                    </form>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="categories-table-body">
                <!-- Dynamic Category Rows will be inserted here -->
                </tbody>
            </table>
        </section>
    </main>
</div>

</body>
</html>